body {
}

header {
  height: 40px;
  background-color: #44C1C4;
  margin-bottom: 5px;
}

.main-container{
  /*height:100vh;*/
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  /*align-items: center;*/
}

button.btn-external {
  padding: 5px 13px;
  border: 1px solid;
  transition-duration: 0.3s;
  background-color:ghostwhite;
}

button.btn-external:hover {
  background-color: lightgray;
}

h1.main-title {
  font-size:200%;
}

h2.main-subtitle {
  font-size:150%;
}
ul.main-list {

}

li.main-list-item {

}

li.main-list-item2 {

}
