body {
}

header {
  /*background-color: gray; */
}

.section-container{
  height:100vh;
  display: flex;
  justify-content: center;
}

button.btn-external {
  padding: 5px 13px;
  border: 1px solid;
  transition-duration: 0.3s;
  background-color:ghostwhite;
}

button.btn-external:hover {
  background-color: lightgray;
}

div.main-div {
  margin-left: 10px;
}

h1.main-title {
  font-size:200%;
}

h2.main-subtitle {
  font-size:150%;
}
ul.main-list {

}

li.main-list-item {

}

li.main-list-item2 {

}
